.panel-default>.panel-heading {
    color: #fff;
    background-color: #3c763d;
    border-color: #d3e0e9;
}

.navbar-default {
    background-color: #f2dede;
    border-color: #d3e0e9;
}

.navbar-default ul li:hover {
  background: #fffaf0;
}
